In [6]:
import pandas as pd
import sqlalchemy

# Connect to PostgreSQL and extract raw data
engine = sqlalchemy.create_engine("postgresql+psycopg2://postgres:Saxion.1993@localhost:5432/dvdrental")
df_payment = pd.read_sql("SELECT * FROM payment;", engine)
df_customer = pd.read_sql("SELECT * FROM customer;", engine)
df_address = pd.read_sql("SELECT * FROM address;", engine)
df_city = pd.read_sql("SELECT * FROM city;", engine)
df_country = pd.read_sql("SELECT * FROM country;", engine)

In [1]:
import duckdb

con = duckdb.connect("/Users/samstreumer/Documents/SchoolFolder/dvdrental/dvdrental.duckdb")

# Check customer tabel structuur
print("Customer tabel kolommen:")
print(con.execute("DESCRIBE customer").fetchdf())

con.close()

Customer tabel kolommen:
   column_name   column_type null   key default extra
0  customer_id        BIGINT  YES  None    None  None
1     store_id        BIGINT  YES  None    None  None
2   first_name       VARCHAR  YES  None    None  None
3    last_name       VARCHAR  YES  None    None  None
4        email       VARCHAR  YES  None    None  None
5   address_id        BIGINT  YES  None    None  None
6   activebool       BOOLEAN  YES  None    None  None
7  create_date          DATE  YES  None    None  None
8  last_update  TIMESTAMP_NS  YES  None    None  None
9       active        BIGINT  YES  None    None  None

In [4]:
import duckdb

con = duckdb.connect("/Users/samstreumer/Documents/SchoolFolder/dvdrental/dvdrental.duckdb")

# Check alle schema's
print("Alle schema's:")
print(con.execute("SELECT DISTINCT schema_name FROM information_schema.schemata").fetchall())

# Check tabellen per schema
print("\nTabellen per schema:")
result = con.execute("""
    SELECT table_schema, table_name 
    FROM information_schema.tables 
    ORDER BY table_schema, table_name
""").fetchall()

for schema, table in result:
    print(f"{schema}.{table}")

con.close()

Alle schema's:
[('pg_catalog',), ('main',), ('information_schema',)]

Tabellen per schema:
main.address
main.city
main.country
main.customer
main.payment

In [5]:
import duckdb

con = duckdb.connect("/Users/samstreumer/Documents/SchoolFolder/dvdrental/dvdrental.duckdb")

# Check customer tabel direct
print("Customer tabel structuur:")
print(con.execute("DESCRIBE main.customer").fetchdf())

# Test de problematische join direct
print("\nTest join:")
try:
    result = con.execute("""
        SELECT COUNT(*) 
        FROM main.customer c
        JOIN main.address a ON c.address_id = a.address_id
    """).fetchone()
    print(f"Join werkt! Aantal rijen: {result[0]}")
except Exception as e:
    print(f"Join faalt: {e}")

# Check wat DBT precies compileert
print("\nLaten we de exacte SQL zien die DBT probeert uit te voeren:")
print("Check de compiled SQL in: /dvdrental/target/compiled/demo/models/star/fct/payment_city.sql")

con.close()

Customer tabel structuur:
   column_name   column_type null   key default extra
0  customer_id        BIGINT  YES  None    None  None
1     store_id        BIGINT  YES  None    None  None
2   first_name       VARCHAR  YES  None    None  None
3    last_name       VARCHAR  YES  None    None  None
4        email       VARCHAR  YES  None    None  None
5   address_id        BIGINT  YES  None    None  None
6   activebool       BOOLEAN  YES  None    None  None
7  create_date          DATE  YES  None    None  None
8  last_update  TIMESTAMP_NS  YES  None    None  None
9       active        BIGINT  YES  None    None  None

Test join:
Join werkt! Aantal rijen: 599

Laten we de exacte SQL zien die DBT probeert uit te voeren:
Check de compiled SQL in: /dvdrental/target/compiled/demo/models/star/fct/payment_city.sql

In [5]:
import duckdb

# Load raw data into DuckDB table
with duckdb.connect("/Users/samstreumer/Documents/SchoolFolder/dvdrental/dvdrental.duckdb") as con:
    con.register("df_payment", df_payment)
    con.execute("CREATE OR REPLACE TABLE payment AS SELECT * FROM df_payment")

    con.register("df_customer", df_customer)
    con.execute("CREATE OR REPLACE TABLE customer AS SELECT * FROM df_customer")
    
    con.register("df_address", df_address)
    con.execute("CREATE OR REPLACE TABLE address AS SELECT * FROM df_address")

    con.register("df_city", df_city)
    con.execute("CREATE OR REPLACE TABLE city AS SELECT * FROM df_city")
    
    con.register("df_country", df_country)
    con.execute("CREATE OR REPLACE TABLE country AS SELECT * FROM df_country")